

.titre{
  position: fixed;
  top:10px;
  left: 10px;
  font-weight: 700;
  font-size: 25px;
}

.loading{
  display:none;
  position: fixed;
  top: 100px;
  left: 10px;
}

.github{
  position: fixed;
  top: 200px;
  left: 10px;
}
.thanks{
  position: fixed;
  top: 220px;
  left: 10px;
  font-size: 12px;
}

ul {
 list-style: none;
}

img {
  height: auto; 
  width: auto; 
  max-width: 200px; 
  max-height: 200px;
}

.movieContainer{
  border-radius: 5px;
  background-color:#e0e0e0;
  margin:20px auto;
  min-height:200px;
  max-width: 600px;
  padding:20px 20px;
  margin-left:250px;
}

.poster{
  float:left;
}

.text{
  position:relative;
  margin-bottom:10px;
  left:10px;
}

.title{
    font-weight: 700;
    font-size: 20px;
}



